<footer>
<nav class="navbar fixed-bottom navbar-dark bg-danger">
    <p>Contact: hameem.quader@ontariotechu.net</p>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <!-- Add more social media links as needed -->
    
    <p>&copy; 2023 Hameem Quader</p>
</nav>
</footer>