/* Hameem Quader
100786057*/

form {
    margin-bottom: 60px;
}

h2 {
    text-align: center; /* center the heading */
}

/* Form Spacing */
.form-group {
    margin-bottom: 20px; /* Space between form boxes */
    margin-right: 20px;

}

label {
    display: block; /* Display labels on new lines */
    margin-bottom: 5px;
}
/* Text Input */
input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%; /* Make form elements span the container width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Button Styling */
button[type="reset"],
button[type="submit"] {
    padding: 10px 20px; /* Add padding to buttons for better clickability */
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}