/* Hameem Quader
100786057*/

@media (max-width: 480px) {
    /* styles for mobile view */
    nav ul li {
        font-size: xx-large;
        border-style: solid;
        display: grid;
        margin: 0px;
    }
}