<%- include /partials/head.ejs -%> 

  <body>
    <header>
     
     <%- include /partials/navbar.ejs -%>   
    </header>
    <!--Text section-->
    <section>

        <h1>Welcome to the <%= title %> Page</h1>
        
    </section>
    <!--Footer-->
    <% include /partials/footer.ejs %>
</body>
</html>
