<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"><!--Uses unicode 8 for the charecters-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--Sets width of webpage to the width of the screen being used to display it-->
        
        <title><%= title %></title><!--Title addes test to the the browsers tab for this webpage-->
        
        <script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://kit.fontawesome.com/74c5eac632.js" crossorigin="anonymous"></script>
    </head>