<nav><!--Navigation bar with links to all the pages-->
    <ul class="nav nav-underline nav-fill">
        <li class="nav-item"><a class="nav-link" href="/"><i class="fa-solid fa-house"></i> Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about"><i class="fa-solid fa-user"></i> About Me</a></li>
        <li class="nav-item"><a class="nav-link" href="/projects"><i class="fa-solid fa-folder-closed"></i> Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact"><i class="fa-solid fa-address-card"></i> Contact Me</a></li>
        <!--page links-->
    </ul>
</nav>